<?xml version="1.0" encoding="UTF-8"?>

<suite name="NetBanking">
	
	<listeners>
		<listener class-name="Utilities.Reporting"/>
		
	</listeners>

	<test name="Banking App Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.TC_001_LoginPage" />
		    <class name="TestCases.TC_002_LoginTest_DDT" />
		    <class name="TestCases.TC_003_AddCustomer" />

		    

		</classes>
	</test>

</suite>







